In [1]:
import pandas as pd
path = r'C:\Users\yashi_l2ryogo\Downloads\final.csv'
df = pd.read_csv(path)

C:\Users\yashi_l2ryogo\AppData\Local\Temp\ipykernel_11832\483554878.py:3: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(path)

In [2]:
df.head()

,Unnamed: 0,Year,FlightDate,DOT_ID_Reporting_Airline,Tail_Number,Flight_Number_Reporting_Airline,OriginAirportID,OriginCityName,OriginWac,DestAirportID,...,tavg,tmin,tmax,prcp,snow,wdir,wspd,wpgt,pres,tsun
0,19038,2024,2024-01-15,20409,N945JT,616,14771,"San Francisco, CA",91,12478,...,10.6,7.2,15.0,0.0,NaN,54.0,9.0,NaN,1020.4,NaN
1,19039,2024,2024-01-28,19805,N990AU,341,11298,"Dallas/Fort Worth, TX",74,14492,...,7.8,1.1,16.7,0.0,0.0,282.0,10.1,NaN,1028.9,NaN
2,19040,2024,2024-01-02,19393,N7884G,3257,10821,"Baltimore, MD",35,14107,...,5.5,2.8,7.8,0.0,0.0,310.0,15.4,NaN,1019.9,NaN
3,19041,2024,2024-01-07,20304,N311SY,3848,13487,"Minneapolis, MN",63,13232,...,-4.3,-5.0,-1.7,0.0,0.0,317.0,10.2,NaN,1015.0,NaN
4,19042,2024,2024-01-31,20452,N642RW,3493,12264,"Washington, DC",38,10785,...,4.9,2.8,6.7,0.0,0.0,33.0,6.8,NaN,1019.2,NaN

In [3]:
df = df.drop(columns = ['Unnamed: 0', 'Year', 'DepartureDelayGroups', 'TaxiOut', 'WheelsOff', 'WheelsOn', 'TaxiIn', 'DivAirportLandings','wpgt','tsun'])

In [4]:
df.head()

,FlightDate,DOT_ID_Reporting_Airline,Tail_Number,Flight_Number_Reporting_Airline,OriginAirportID,OriginCityName,OriginWac,DestAirportID,DestCityName,DestWac,...,CancellationCode_encoded,index,tavg,tmin,tmax,prcp,snow,wdir,wspd,pres
0,2024-01-15,20409,N945JT,616,14771,"San Francisco, CA",91,12478,"New York, NY",22,...,0,2024-01-15,10.6,7.2,15.0,0.0,NaN,54.0,9.0,1020.4
1,2024-01-28,19805,N990AU,341,11298,"Dallas/Fort Worth, TX",74,14492,"Raleigh/Durham, NC",36,...,0,2024-01-28,7.8,1.1,16.7,0.0,0.0,282.0,10.1,1028.9
2,2024-01-02,19393,N7884G,3257,10821,"Baltimore, MD",35,14107,"Phoenix, AZ",81,...,0,2024-01-02,5.5,2.8,7.8,0.0,0.0,310.0,15.4,1019.9
3,2024-01-07,20304,N311SY,3848,13487,"Minneapolis, MN",63,13232,"Chicago, IL",41,...,0,2024-01-07,-4.3,-5.0,-1.7,0.0,0.0,317.0,10.2,1015.0
4,2024-01-31,20452,N642RW,3493,12264,"Washington, DC",38,10785,"Burlington, VT",16,...,0,2024-01-31,4.9,2.8,6.7,0.0,0.0,33.0,6.8,1019.2

In [5]:
# Fill null values in 'snow' with the mean of the same origin and date
df['snow'] = df.groupby(['OriginAirportID', 'FlightDate'])['snow'].transform(lambda x: x.fillna(x.mean()))

df.head()

,FlightDate,DOT_ID_Reporting_Airline,Tail_Number,Flight_Number_Reporting_Airline,OriginAirportID,OriginCityName,OriginWac,DestAirportID,DestCityName,DestWac,...,CancellationCode_encoded,index,tavg,tmin,tmax,prcp,snow,wdir,wspd,pres
0,2024-01-15,20409,N945JT,616,14771,"San Francisco, CA",91,12478,"New York, NY",22,...,0,2024-01-15,10.6,7.2,15.0,0.0,4.285714,54.0,9.0,1020.4
1,2024-01-28,19805,N990AU,341,11298,"Dallas/Fort Worth, TX",74,14492,"Raleigh/Durham, NC",36,...,0,2024-01-28,7.8,1.1,16.7,0.0,0.000000,282.0,10.1,1028.9
2,2024-01-02,19393,N7884G,3257,10821,"Baltimore, MD",35,14107,"Phoenix, AZ",81,...,0,2024-01-02,5.5,2.8,7.8,0.0,0.000000,310.0,15.4,1019.9
3,2024-01-07,20304,N311SY,3848,13487,"Minneapolis, MN",63,13232,"Chicago, IL",41,...,0,2024-01-07,-4.3,-5.0,-1.7,0.0,0.000000,317.0,10.2,1015.0
4,2024-01-31,20452,N642RW,3493,12264,"Washington, DC",38,10785,"Burlington, VT",16,...,0,2024-01-31,4.9,2.8,6.7,0.0,0.000000,33.0,6.8,1019.2

In [7]:
from sklearn.linear_model import ElasticNet
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, r2_score
import pandas as pd
from sklearn.preprocessing import OneHotEncoder

# Load the dataset
# data = pd.read_csv('your_data.csv')  # Uncomment this line if loading from a file

# Select columns for features and target
feature_columns = ['DOT_ID_Reporting_Airline',	'OriginAirportID',	'OriginCityName',	'OriginWac',	'DestAirportID',	'DestCityName'	,'DestWac',	'CRSDepTime',
'CRSArrTime','CRSElapsedTime','CancellationCode_encoded','Flights','Distance']  # Replace with your chosen feature columns]  # Replace with your chosen feature columns
target_columns = ['DepTime'	,'DepDelayMinutes','ArrTime'	,'ArrDelayMinutes'	,'Diverted','ActualElapsedTime','CarrierDelay'	,'WeatherDelay'	,'NASDelay'	,'SecurityDelay'	,'LateAircraftDelay',
'tavg'	,'tmin'	,'tmax'	,'prcp'	,'snow',	'wdir',	'wspd','pres']      # Replace with your target columns
df[target_columns] = df[target_columns].fillna(0)
X = df[feature_columns]  # Features
y = df[target_columns]   # Multiple targets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
# Identify categorical features for one-hot encoding
categorical_features = ['DOT_ID_Reporting_Airline', 'OriginCityName', 'DestCityName', 'CancellationCode_encoded'] # Add any other categorical columns

# Create a OneHotEncoder object
encoder = OneHotEncoder(sparse_output=False, handle_unknown='ignore') # sparse=False for dense output

# Fit the encoder to the categorical features in the training data
encoder.fit(X_train[categorical_features])

# Transform the categorical features in both training and testing data
X_train_encoded = pd.DataFrame(encoder.transform(X_train[categorical_features]), index=X_train.index)
X_test_encoded = pd.DataFrame(encoder.transform(X_test[categorical_features]), index=X_test.index)

# Get feature names after one-hot encoding
encoded_feature_names = encoder.get_feature_names_out(categorical_features)

# Assign column names to the encoded dataframes
X_train_encoded.columns = encoded_feature_names
X_test_encoded.columns = encoded_feature_names

# Drop the original categorical columns and concatenate the encoded ones
X_train = X_train.drop(columns=categorical_features)
X_train = pd.concat([X_train, X_train_encoded], axis=1)
#X_train=X_train.drop(columns=categorical_features)
X_test = X_test.drop(columns=categorical_features)
X_test = pd.concat([X_test, X_test_encoded], axis=1)
#X_test= X_test.drop(columns= categorical_features)
X_train = X_train.select_dtypes(exclude=['object', 'category'])
X_test = X_test.select_dtypes(exclude=['object', 'category'])



# Create and fit the Elastic Net model
elastic_net = ElasticNet(alpha=1.0, l1_ratio=0.5, random_state=42)
elastic_net.fit(X_train, y_train)

# Make predictions
y_pred = elastic_net.predict(X_test)

# Evaluate performance for each target column
for i, target in enumerate(target_columns):
    mse = mean_squared_error(y_test[target], y_pred[:, i])
    r2 = r2_score(y_test[target], y_pred[:, i])
    print(f"Performance for {target}:")
    print("  Mean Squared Error:", mse)
    print("  R2 Score:", r2)

Performance for DepTime:
  Mean Squared Error: 65340.89237808889
  R2 Score: 0.7728180126715568
Performance for DepDelayMinutes:
  Mean Squared Error: 3181.24087633973
  R2 Score: 0.009730601589349908
Performance for ArrTime:
  Mean Squared Error: 141903.5461537391
  R2 Score: 0.5779394721392372
Performance for ArrDelayMinutes:
  Mean Squared Error: 3149.132232210196
  R2 Score: 0.008113771183732799
Performance for Diverted:
  Mean Squared Error: 0.002453070527794848
  R2 Score: -1.07349551148328e-05
Performance for ActualElapsedTime:
  Mean Squared Error: 680.2371285531548
  R2 Score: 0.8780355833541443
Performance for CarrierDelay:
  Mean Squared Error: 1343.9244362296968
  R2 Score: 0.0010705010120495295
Performance for WeatherDelay:
  Mean Squared Error: 222.3742136023458
  R2 Score: 0.0005335810246184236
Performance for NASDelay:
  Mean Squared Error: 223.41292217783948
  R2 Score: 0.004133440058671112
Performance for SecurityDelay:
  Mean Squared Error: 1.0459205978762112
  R2 Score: 3.734051639980862e-05
Performance for LateAircraftDelay:
  Mean Squared Error: 1124.9081184109768
  R2 Score: 0.008541396629587195
Performance for tavg:
  Mean Squared Error: 93.32430980104313
  R2 Score: 0.006684817354859485
Performance for tmin:
  Mean Squared Error: 94.48585943663228
  R2 Score: 0.006289026197846215
Performance for tmax:
  Mean Squared Error: 103.05491340135569
  R2 Score: 0.0064083202789018134
Performance for prcp:
  Mean Squared Error: 78.19371002905274
  R2 Score: -8.317011335412516e-06
Performance for snow:
  Mean Squared Error: 967.4527607042003
  R2 Score: 0.0002570457749054844
Performance for wdir:
  Mean Squared Error: 12257.907023082127
  R2 Score: 2.3922220608874056e-06
Performance for wspd:
  Mean Squared Error: 34.4424220217859
  R2 Score: -1.2448760649430568e-05
Performance for pres:
  Mean Squared Error: 482.74784245315027
  R2 Score: 5.897539787791395e-05